#header {
    position: fixed;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: saturate(180%) blur(20px);

    .container {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-menu {
            list-style: none;
            display: flex;
            gap: 20px;

            .header-menu-item {
                .header-menu-item-link {
                    color: #fff;
                    font-size: 1.4rem;
                    position: relative;
                    z-index: 2;
                }

                .header-menu-item-board {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, .8);
                    backdrop-filter: saturate(180%) blur(20px);
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: opacity .3s ease;
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    z-index: 1;

                    >.category-list {
                        margin-top: 56px;
                        padding: 20px;
                    }
                }


                &:hover {
                    .header-menu-item-board {
                        height: auto;
                        opacity: 1;
                    }
                }
            }
        }

        .header-right-wrap {
            position: relative;
            z-index: 2;

            .header-right-button {
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                color: #fff;
                font-size: 1.4rem;
                background-color: #d91831;
                border: 0;
                cursor: pointer;
            }
        }
    }
}
