body.default {
    --dark: #000;
    --light: #fff;
    --glyph-gray: #F5F5F7;
    --glyph-gray-override: #1D1D1F;
    --glyph-gray-secondary: #86868B;
    --glyph-gray-secondary-alt: #A1A1A6;
    --glyph-gray-tertiary: #6E6E73;
    --glyph-blue: #2997FF;
    --glyph-blue-override: #0066CC;
    --glyph-orange: #F56300;
    --glyph-red: #FF3037;
    --glyph-green: #03A10E;
}
